.cartContainer {
  display: flex;  
  padding-bottom: 70px;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;  
  width: 70%;  
}

.subtotalContainer {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  width: 80%;
  margin-top: 200px;
  margin-right: 50px;
  min-height: 40%;  
  right: 0;
  top: 0;  
  font-size: 1.7em;
  font-weight: bold;
}

.subtotalNumber {
  margin-top: 15%px;
  margin-bottom: 10%; 
}

.ShopAndCheckoutButtons {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.cartItem { 
  width: 60%;
  height: 150px;
  display: flex;  
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 10px;
  justify-content: space-between;  
}

.cartItem img {
  height: 75%;
  margin-left: 25px;
  object-fit: scale-down;
  max-width: 25%;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  font-size: 80%;
  margin: 0
}

.countHandler {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.cartProductButton {
  width: 35px;
  background-color: transparent;
  font-size: 1.3em;
  height: 1em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding-bottom: 0px;
}
.cartItemDescription {
  font-size: 1.5vw;
  width: 60%; 
  margin-right: 20px;
  font-size: 1.6em;
}

.cartItemDescription p, .cartItemDescription div {
  margin: 10px; 
}

@media screen and (max-width: 624px) {
  .cartContainer {
    align-items: center;
  }
  .cart {    
    width: 90%;
    margin-top: 10px;
  }
  .cartProductButton {
    font-size: 1.1em;
  }
  .subtotalNumber {
    margin-bottom: 0;
    margin-top: 3%;  
  }
  .cartItemDescription {
    font-size: 1.4em;    
  }
  .cartItemDescription > p {
    margin: 2px;
  }
  .cartContainer {
    flex-direction:column-reverse;
  }
  .cartButtons {    
    display: flex;
    justify-content: center;    
  }
  .cartItem {
    width: 90% ;
  }
  .subtotalContainer {
    margin-right: 0;    
  }
}
@media screen and (min-width: 624px) {  /* after 624px*/
  .subtotalContainer {
    position:fixed;
    width: 30%;
  }  
}



