.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.cartItem {
  width: 600px;
  height: 150px;
  display: flex;  
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 10px;
  justify-content: space-between;
  
}

.cartItem img {
  height: 75%;
  margin-left: 25px;
  object-fit: scale-down;
  max-width: 25%;
}


.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.countHandler {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.cartProductButton {
  width: 35px;
  background-color: transparent;
  font-size: 2vw;
  height: 1em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

}

.cartItemDescription {
  font-size: 1.5vw;
  width: 70%;  
  
}

.cartItemDescription p, .cartItemDescription div {
  margin: 10px;
}