.cartContainer {
  display: flex;  
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;  
  width: 70%;
}

@media screen and (max-width: 624px) {
  .cart {
    margin-top: 150px; 
  }
}

.subtotalContainer {  
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  width: 30%;
  margin-top: 200px;
  height: 40%;
  position:fixed;
  right: 0;
  top: 0;
  margin-right: 50px;
  font-size: 1.7em;
  font-weight: bold;
}

.cartItem { 
  width: 60%;
  height: 150px;
  display: flex;  
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 10px;
  justify-content: space-between;  
}

.cartItem img {
  height: 75%;
  margin-left: 25px;
  object-fit: scale-down;
  max-width: 25%;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  font-size: 80%;
  margin: 0
}

.countHandler {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ShopAndCheckout {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.cartProductButton {
  width: 35px;
  background-color: transparent;
  font-size: 1.3em;
  height: 1em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding-bottom: 0px;
}

@media screen and (max-width: 624px) {
  .cartProductButton {
    font-size: 1.1em;
  }
}

.cartItemDescription {
  font-size: 1.5vw;
  width: 60%; 
  margin-right: 20px;
  font-size: 1.6em;
}

.cartItemDescription p, .cartItemDescription div {
  margin: 10px; 
}

@media screen and (max-width: 624px) {
  .cartItemDescription {
    font-size: 1.4em;
  }
}



