/*Add-product */

.thumbnailPictureForm {
    border-radius: 15px;
    width: 260px;
    height: 250px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-decoration: none;
    /* position: relative;  */  
  }
  
  .thumbnailPicture {
    width: 75%;
    height: 75%;
    margin-left: 10%;
    object-fit: scale-down;  
  }
  
  .addedPicture {  
    /* position: absolute;
    left:0;
    top: 0; */
    width: 15%;    
    margin: 2.5% ;
  }

  .selectedImgForm {
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .addPicture {
    position: absolute;
    width: 8vw;    
  } 
  
  .addPicture:hover {
    filter: invert(37%) sepia(9%) saturate(0%) hue-rotate(146deg) brightness(91%) contrast(88%);
    /* https://codepen.io/sosuke/pen/Pjoqqp */
  }
    
.newProduct {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 80px;
  }
  
  .newProductForm {    
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding-top: 50px;
    
  }
  
  .newProductForm input {
    height: 50px;
    width: 60%;
    margin: 10px;
    padding-left: 15px;
    border-radius: 8px;    
  }

  @media screen and (max-width: 624px) {
    .newProductForm input {
      width: 90%;
    }
    .newProductForm {
      width: 90%;
    }
  }
  
  .addProductButton {
    width: 30%;
    height: 30px;
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(19, 19, 19);
    color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
  }

  .addPrdBtnDisabled {
    background-color: grey;
    color: white;
    cursor: default;
  }

  .disabledAddProductButton {
    background-color: grey;
  }
  
  .chooseFile {
    border-radius: none;
   display: none;
  }

  .status-image {    
    animation: rotate 1s linear infinite;
    width: 15%;
  }

  @keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  
  
  
  