.dialogContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px;

}

.buttonsContainer {
    display: flex;
    align-items: center;

}

.dialogButton {
    color: white;
    padding: 10px;
    margin: 4px;
    border: none;
    cursor: pointer;
    /* border: 2px solid rgb(19, 19, 19);  */
    min-width: 100px;
    height: 2.3em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}