.App {
  text-align: center;
  
}

body {
  margin: 0;
}


.newProduct {
  display: flex;
  justify-content: center;
}

.newProductForm {
  
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding-top: 50px;
  
}

.newProductForm input {
  height: 50px;
  width: 60%;
  margin: 10px;
  padding-left: 15px;
  border-radius: 8px;
  
}

.newProductForm button {
  width: 30%;
  height: 30px;
  margin: 10px;
  border-radius: 8px;
  background-color: rgb(19, 19, 19);
  color: white;
  width: 200px;
  height: 50px;
}

.chooseFile {
  border-radius: none;
 display: none;
}

.addPicture {
  width: 8vw;
}

.addPicture:hover {
  filter: invert(37%) sepia(9%) saturate(0%) hue-rotate(146deg) brightness(91%) contrast(88%);
  /* https://codepen.io/sosuke/pen/Pjoqqp */
}

.notFound {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  margin-top: 10%;  
}

.notFound h1 {
  margin-left: 20px;  
}


/* LOGIN*/

.loginContainer { 
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input, button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer  button {
  background-color: rgb(19, 19, 19);
  color: white;
}

.loginContainer input {
  border: 2px solid rgb(19, 19, 19)
}
