.App {
  text-align: center;
  
}

body {
  margin: 0;
}


.newProduct {
  display: flex;
  justify-content: center;
}

.newProductForm {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  width: 50%; 
  
}

.newProductForm input {
  height: 30px;
  width: 60%;
  margin: 10px;
}

.newProductForm button {
  width: 30%;
  height: 30px;
  margin: 10px;
}

