.App {
  text-align: center;
  
}

body {
  margin: 0;
}


.newProduct {
  display: flex;
  justify-content: center;
}

.newProductForm {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  width: 50%; 
  
}

.newProductForm input {
  height: 30px;
  width: 60%;
  margin: 10px;
}

.newProductForm button {
  width: 30%;
  height: 30px;
  margin: 10px;
}

.notFound {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  margin-top: 10%;
  
  
  
}

.notFound h1 {
  margin-left: 20px;
  
}

